<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" style="width:75%">
          Step 3, one more click!
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 personal-information col-md-offset-1">
      <h2>Personal Information</h2>
      <div class="form-group col-md-6" [ngClass]="{'has-error':!validateFirstName}">
        <label for="firstName" class="control-label">First Name:</label>
        <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="firstName">
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error':!validateLastName}">
        <label for="lastName" class="control-label">Last Name:</label>
        <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="lastName">
      </div>
      <div class="form-group col-md-12" [ngClass]="{'has-error':!validateAddress}">
        <label for="address" class="control-label">Address:</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address">
      </div>
      <div class="form-group col-md-12" [ngClass]="{'has-error':!validateEmail}">
        <label for="email" class="control-label">Email:</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="john.doe@gmail.com">
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error':!validateZipcode}">
        <label for="zipcode" class="control-label">Zipcode:</label>
        <input
          type="text"
          class="form-control"
          id="zipcode"
          name="zipcode"
          [(ngModel)]="zipcode"
          mask="99999-9999"
          [dropSpecialCharacters]="false"
          placeholder="90210"
        >
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error':!validateState}">
        <label for="state" class="control-label">State:</label>
        <select class="form-control" [(ngModel)]="state" name="state" id="state">
          <option value="Select">Select</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error':!validateCity}">
        <label for="city" class="control-label">City:</label>
        <input type="text" class="form-control" name="city" id="city" [(ngModel)]="city">
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error':!validatePhone}">
        <label for="phone" class="control-label" >Phone:</label>
        <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="phone" placeholder="(310)5555-5555" mask="(999) 999-9999" clean="true">
      </div>
      <div class="form-group col-md-12">
        <div class="form-group">
          <label>Have you serve in the Military:</label>
          <div class="btn-group">
            <button class="btn btn-default active" (click)="saveMilitary(false)">No</button>
            <button class="btn btn-default" (click)="saveMilitary(true)">Yes</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-center buttons col-md-12">
          <div class="btn-group">
            <button class="btn btn-primary btn-lg" (click)="goBack()">Go Back</button>
            <button class="btn btn-success btn-lg" (click)="saveLead()">Get a Free Quote</button>
          </div>
          <label style="font-size:xx-small; text-align:justify; margin-top: 2em;"><input id="leadid_tcpa_disclosure" type="hidden">

            By clicking the button above, you acknowledge,
            consent and agree to the following:
            a) Our <a href="http://www.securerights.org/privacy.html" target="_blank">Privacy Policy </a> and consent to receive notices and
            other <a href="http://www.securerights.org/electroniccommunications.html" target="_blank">communications electronically</a>. b) We take your privacy
            seriously. You are providing express written consent for
            Secure Rights, Client Consent, and Gateway Mortgage Quotes to share your information with up to four (4) of its <a href="http://www.securerights.org/networkmembers.html" target="_blank">Premier Partners</a>
            and for Secure Rights, Client Consent, and Gateway  parties calling on behalf of Secure Rights,
            Premier Partners or authorized third parties on their behalf to contact you
            (including through automated means; e.g. autodialing, text and pre-recorded messaging) via telephone, mobile device (including SMS and MMS) and/or email, even if your telephone number is currently listed on any state, federal, local or corporate Do Not Call list. c) Consent is not required in order to purchase goods and services from the Lenders that contact you or to utilize Secure Rights services. You may choose to speak with an individual service provider by dialing (888) 883-2062. d) That I have received and reviewed the <a href="http://securerights.org/licenses.html" target="_blank">Mortgage Broker Disclosures</a> for my state. Secure Rights NMLS 3175.
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
