
  <div id="content" class="container form-container ng-scope">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="row">
        <div id="set3" class="form-set" style="">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text"
                   class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                   placeholder="1234 Main St."
                   name="address"
                   [(ngModel)]="address"
                   id="address"
            >
            <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateAddress">
            <span class="error_validation">
              Address is Required
            </span>
            </div>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text"
                   class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                   placeholder="Los Angeles"
                   [(ngModel)]="city"
                   id="city"
                   name="city">
            <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateCity">
            <span class="error_validation">
              City is Required
            </span>
            </div>
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" [(ngModel)]="state" name="state" id="state">
              <option value="? undefined:undefined ?"></option>
              <option value="Select">Select</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateState">
            <span class="error_validation">
             State is Required
            </span>
            </div>
          </div>
          <div class="form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                   id="zip"
                   placeholder="90210"
                   [(ngModel)]="zip"
                   name="zip"
                   mask="99999-9999"
                   [dropSpecialCharacters]="false"
            >
            <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateZip">
            <span class="error_validation">
              Zip is Required
            </span>
            </div>
          </div>
          <button class="btn btn-primary btn-continue" (click)="saveAddress()">Continue</button>
          <p><a class="prev-link" routerLink="/step2">Previous</a></p>
        </div>
      </div>
    </div>
  </div>
