<div class="container-fluid">
</div>
<header class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <a routerLink="{{homeLink}}"><img src="./assets/new-logo.png" alt="Mortage Quote Capital" border="0" class="logo_image"></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="mqc-call">
        <a href="#" tabindex="0" class="mqc-call-icon"></a>
        <div class="col-sm-6 text-right">
          <span class="mqc-cta-text">Call a licensed sales agent:</span>
          <a id="ctaPhone" href="tel:+1{{phoneNumber}}">
          <span class="mqc-call-phone">844-262-6240</span></a>
        </div>
        <div class="col-sm-6 mqc-call-times">
          <p class="mqc-call-times">8AM - 8:30PM Mon. Thr.<br>8AM to 8PM Fri.<br>10AM to 6PM Sat.</p></div>
      </div>
    </div>
  </div>
</header>
