.logo_image{
  width: 100%;
  max-width: 200px;
}
.slogan{
  color: #4BAA58 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 2em;
}

.mqc-call-times{
  font-size: 0.7em;
  color: #5cb85c;
}

.mqc-call-phone{
  font-size: 2em;
  color: #5cb85c;
  display: block;
  text-align: right;
  font-weight: bold;
}

.mqc-cta-text{
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
}

@media only screen and (min-width: 320px) {
  .mqc-call-phone{
    font-size: 1em;
  }
  .mqc-cta-text{
    font-size: 0.5em;
  }
  .mqc-call-times{
    display: none;
  }
}

@media only screen and (min-width: 360px) {
  .mqc-call-phone{
    font-size: 1.3em;
  }
  .mqc-cta-text{
    font-size: 0.5em;
  }
  .mqc-call-times{
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .mqc-call-phone{
    font-size: 1em;
  }
  .mqc-cta-text{
    font-size: 0.7em;
  }
  .mqc-call-times{
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .mqc-call-phone{
    font-size: 1.5em;
  }
  .mqc-cta-text{
    font-size: 0.7em;
  }
  .mqc-call-times{
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mqc-call-phone{
    font-size: 1.5em;
  }
  .mqc-cta-text{
    font-size: 0.7em;
  }
  .mqc-call-times{
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .mqc-call-phone{
    font-size: 1.5em;
  }
  .mqc-cta-text{
    font-size: 1em;
  }
  .mqc-call-times{
    display: block;
    font-size: 0.8em;
  }
}







