<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>© Copyright {{year}}. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-right">
        <ul>
          <li><a routerLink="/privacy">Privacy Policy</a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <label class="font-size:xx-small" style="color:#AAA; text-align:justify; font-size: 0.8em">
        For a free quote.

        mortgagequotecapital.com is not a loan broker, lender, loan modification company or foreclosure prevention/ counseling company. mortgagequotecapital.com is not associated with or an affiliate of your current lender or servicer. This is not an offer by mortgagequotecapital.com to lend you money. Our goal is to provide an easy connection for homeowners seeking information on MORTGAGE eligibility with a private mortgage broker, company, or attorney who can assist you.

        By entering your mobile number in form above you agree to receive marketing based text messages. Consent is not required for purchase. You may receive up to 5 messages per month. Standard text and data rates may apply.
      </label>
    </div>
  </div>
</footer>
