
  <div ng-controller="MorgageQuoteLoansContent" id="content" class="container form-container ng-scope">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div id="set11" class="form-set" style="">
          <div class="form-group">
            <label for="loan-type">What type of property is it?</label>
            <button value="Single Family" class="btn btn-primary btn-option" (click)="savePropertyType('Single Family')">Single Family</button>
            <button value="Multi Family" class="btn btn-primary btn-option" (click)="savePropertyType('Multi Family')">Multi Family</button>
            <button value="Investment" class="btn btn-primary btn-option" (click)="savePropertyType('Investment')">Investment</button>
            <button value="Condo" class="btn btn-primary btn-option" (click)="savePropertyType('Condo')">Condo</button>
            <button value="Mobile" class="btn btn-primary btn-option" (click)="savePropertyType('Mobile')">Mobile</button>
            <button value="Apartment" class="btn btn-primary btn-option" (click)="savePropertyType('Apartment')">Apartment</button>
          </div>
          <br><br>

          <input  value="Review My Options" class="btn btn-success btn-option" (click)="savePropertyType('review')" #leadid>

          <div class="col-sm-12 text-justified">

				<span style="color:#131313;">

                    <label style="font-size:xx-small; text-align:justify"><input id="leadid_tcpa_disclosure" type="hidden">

                    By clicking the button above, you acknowledge,
                    consent and agree to the following:
                    a) Our <a href="http://www.securerights.org/privacy.html" target="_blank">Privacy Policy </a> and consent to receive notices and
                    other <a href="http://www.securerights.org/electroniccommunications.html" target="_blank">communications electronically</a>. b) We take your privacy
                    seriously. You are providing express written consent for
                    Secure Rights, Client Consent, and Gateway Mortgage Quotes to share your information with up to four (4) of its <a href="http://www.securerights.org/networkmembers.html" target="_blank">Premier Partners</a>
                    and for Secure Rights, Client Consent, and Gateway  parties calling on behalf of Secure Rights,
                    Premier Partners or authorized third parties on their behalf to contact you
                    (including through automated means; e.g. autodialing, text and pre-recorded messaging) via telephone, mobile device (including SMS and MMS) and/or email, even if your telephone number is currently listed on any state, federal, local or corporate Do Not Call list. c) Consent is not required in order to purchase goods and services from the Lenders that contact you or to utilize Secure Rights services. You may choose to speak with an individual service provider by dialing (888) 883-2062. d) That I have received and reviewed the <a href="http://securerights.org/licenses.html" target="_blank">Mortgage Broker Disclosures</a> for my state. Secure Rights NMLS 3175.
                    </label>
                    </span>

          </div>
          <p><a class="prev-link" routerLink="/step10">Previous</a></p>
        </div>


      </div>
    </div>
  </div>
