<div ng-controller="MorgageQuoteLoansContent" id="content" class="container form-container ng-scope">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div id="set7" class="form-set" style="">
        <div class="form-group">
          <label for="credit">What is your credit score?</label>
          <button class="btn btn-primary btn-option" (click)="saveCreditScore('Excellent')">Excellent (720+)</button>
          <button class="btn btn-primary btn-option" (click)="saveCreditScore('Good')">Good (680-719)</button>
          <button class="btn btn-primary btn-option" (click)="saveCreditScore('Fair')">Fair (640-679)</button>
          <button class="btn btn-primary btn-option" (click)="saveCreditScore('Poor')">Poor (≤ 639)</button>
        </div>
        <p><a routerLink="/step6" class="prev-link">Previous</a></p>
      </div>
    </div>
  </div>
</div>
