
  <div ng-controller="MorgageQuoteLoansContent" id="content" class="container form-container ng-scope">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div>
          <div class="form-group">
            <label for="loan-type">Have you or spouse served in military?</label>
            <button class="btn btn-primary btn-option" (click)="saveMilitary(1)">Yes</button>
            <button class="btn btn-success btn-option" (click)="saveMilitary(0)">No</button>
          </div>
          <p class="text-center"><a routerLink="/step9" class="prev-link">Previous</a></p>
        </div>
      </div>
    </div>
  </div>
