<div class="backholder">
  <div class="container cover-fold">
    <div class="form-box">
      <div class="row">
        <h1 class="cashout-title col-xs-10 col-xs-offset-1">{{h1Title}}</h1>
        <h2 class="cashout-sub-title col-xs-10 col-xs-offset-1">{{h2Title}}</h2>
        <h3 class="cashout-slogan col-xs-10 col-xs-offset-1">{{h3Title}}</h3>
        <div class="col-md-5 col-xs-12 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <input
            id="cashout"
            name="cashout"
            type="text"
            currencyMask
            [(ngModel)]="cashout"
            class="form-control big-form"
            min="10000"
            maxlength="9"
            autofocus
            [options]="{ precision: '0' }"
          >
          <input id="leadid_token" name="universal_leadid" type="hidden" value="" ([ngModel])="leadid_token" #leadiid/>
        </div>
        <div class="col-md-3 col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">
          <div (click)="savePhone(leadiid.value)" class="btn btn-success col-md-12 col-sm-12 col-xs-12 submit_button">
            {{buttonText}}
          </div>
        </div>
        <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateCashOut">
            <span class="error_validation">
              Cash amount is required
            </span>
        </div>
        <div class="col-xs-12 col-md-12 h3 closing-slogan">{{h3Title2}}</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="cash-out-exp">
      <h2>What Is a CashOut Refinance?</h2>
      <p>A cashout refinance is a refinancing of an existing mortgage loan, where the new mortgage loan is for a larger
        amount than the existing mortgage loan, and you get the difference between the two loans in cash.
        Homeowners do cash-out refinances so they can turn some of the equity they’ve built up in their home into
        cash.</p>
      <p>A homeowner who owes $80,000 on a home valued at $200,000 has $120,000 in equity. That equity can be liquidated
        with a cash-out refinance loan providing the loan is larger than $80,000.

        The total amount of equity that can be withdrawn with a cash-out refinance is dependent on the mortgage lender,
        the cash-out refinance program, and other relative factors, such as the value of the home.</p>
      <p>A major purchase can be menacing, so how do you know if you’re getting the best rate? Mortgage Online recommends starting by comparing lenders in reference to your individual needs and realistic price range.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="./assets/ico-1.png" alt="Compare and Negotiate">
      <h3>Compare and Negotiate</h3>
      <p>There are countless and ever changing options in the mortgage lending market; rates can change daily. Look in your newspaper for a starting point, and then contact a loan officer. Brokers will frequently keep overages in the form of various fees. It is best to get the offer and its breakdown in writing. Negotiate with the lender and be alert to simultaneous lowering and raising of other fees, so it doesn’t seem they are giving a better deal when in reality they are not.  Remember, make no reservations when negotiating with multiple loan officers; under the <a href="https://www.justice.gov/crt/equal-credit-opportunity-act-3" target="_blank">Equal Credit Opportunity Act</a> and the <a href="https://www.justice.gov/crt/fair-housing-act-2" target="_blank">Fair Housing Act</a>, fair lending is your right by Law.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="./assets/ico-3.png" alt="Explain any Bad Credit">
      <h3>Explain any Bad Credit</h3>
      <p>Don’t let your past credit problems dictate your loan choices. If your circumstances that resulted in bad credit were out of your control, explain this event to the broker. Ask how you can still get the best rate, and again, negotiate. </p>
    </div>
    <div class="col-md-4 text-center">
      <img src="./assets/ico-2.png" alt="Lock in your Rate">
      <h3>Lock in your Rate</h3>
      <p>Once you have considered your realistic price range, compared loans, and negotiated with brokers, choose the loan that is right for you. With fees and costs, the lowest interest rate isn’t always the best deal. Once satisfied, lock in your rate as it could change quickly in an unstable market.</p>
    </div>
  </div>
</div>
