@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.backholder{
  background-image:  url(/assets/graduatecover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.cover-fold{
  height:80%;
  min-height:500px;
}
.form-box{
  background-color: rgba(0,0,0, 0.6);
  margin: 2em;
  padding-bottom: 4em;
  border-radius: 25px;
}
.cashout-title{

  color: whitesmoke;
  padding-top: 1em;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}
.cashout-sub-title{

  color: whitesmoke;
  text-align: center;
  margin-top: 1em;
  font-family: 'Archivo Black', sans-serif;
}
.cashout-slogan{

  color: whitesmoke;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}
.closing-slogan{

  color: whitesmoke;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}
.submit_button{
  font-family: 'Archivo Black', sans-serif;
}
.cash-out-exp{
  margin: 2em;
}
.cash-out-exp h2{
  font-weight: bold;
}

.big-form{
  font-size: 2em;
  border: 1px solid gray;
}
