<div id="content" class="container form-container ng-scope">
  <div class="col-md-12">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
           aria-valuemin="0" aria-valuemax="100" style="width:100%">
        You are Done!
      </div>
    </div>
  </div>
  <div class="overlay" [ngStyle]="{'display': loading? 'block': 'none'}">
    <div> Searching for the best </div>
    <img src="./assets/loadinglogo.png" alt="Mortage Quote Capital" border="0">
    <div>mortgage providers near you.</div>
  </div>
  <p class="col-md-12">
  <h2 class="text-center">Thank you for completing the form</h2>
  <h4 class="text-center">
    We'll respond to your request shortly.
  </h4>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th>Name:</th>
          <td>{{applicant.firstName | titlecase}}</td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td>{{applicant.lastName | titlecase}}</td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>{{applicant.email}}</td>
        </tr>
        <tr>
          <th>Phone Number:</th>
          <td>{{applicant.telephone}}</td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>{{applicant.address}}</td>
        </tr>
        <tr>
          <th>City:</th>
          <td>{{applicant.city | titlecase}}</td>
        </tr>
        <tr>
          <th>State:</th>
          <td>{{applicant.state |titlecase}}</td>
        </tr>
        <tr>
          <th>Zip:</th>
          <td>{{applicant.zip}}</td>
        </tr>
        <tr>
          <th>Mortgage Balance:</th>
          <td>{{applicant.mortgageBalance | currency}}</td>
        </tr>
        <tr>
          <th>Home Value:</th>
          <td>{{applicant.homeValue | currency}}</td>
        </tr>
        <tr>
          <th>Property Type:</th>
          <td>{{applicant.propertyType}}</td>
        </tr>
        <tr>
          <th>Loan Term:</th>
          <td>{{applicant.loanTerm}}</td>
        </tr>
        <tr>
          <th>Type of loan:</th>
          <td>{{applicant.typeOfLoan | titlecase}}</td>
        </tr>
        <tr>
          <th>Interest Rate:</th>
          <td>{{applicant.interestRate}}</td>
        </tr>
        <tr>
          <th>Type of Interest Rate:</th>
          <td>{{applicant.typeOfInterestRate}}</td>
        </tr>
        <tr>
          <th>Credit Score:</th>
          <td>{{applicant.creditScore}}</td>
        </tr>
        <tr>
          <th>Military Service:</th>
          <td>
            <span *ngIf="applicant.military == 1; then yesTemplate else noTemplate">
            </span>
            <ng-template #yesTemplate>
              Yes
            </ng-template>
            <ng-template #noTemplate>
              No
            </ng-template>
          </td>
        </tr>
        <tr>
          <th>Cash Out:</th>
          <td>{{applicant.cashOut | currency}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
