
  <div ng-controller="MorgageQuoteLoansContent" id="content" class="container form-container ng-scope">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div id="set4" class="form-set" style="">
          <div class="form-group range-group" style="">
            <label for="loan_amount">What is your current Mortgage Balance?</label>
            <div class="moneyDebt">{{mortgageBalance | currency:'USD'}}</div>
                <mat-slider
                  class="example-margin"
                  [disabled]="disabled"
                  [invert]="invert"
                  [max]="max"
                  [min]="min"
                  [step]="step"
                  [thumb-label]="thumbLabel"
                  [tick-interval]="thickInterval"
                  [vertical]="vertical"
                  [(ngModel)]="mortgageBalance"
                  name="value"
                >
                </mat-slider>
            <span class="min-range">$0</span>
            <span class="max-range">$1,000,000</span>
          </div>
          <br><br>
          <div class="form-group range-group" style="">
            <label for="est_home_value">What is the estimated value of your home?</label>
            <div class="moneyDebt">{{homeValue | currency:'USD'}}</div>
            <mat-slider
              class="example-margin"
              [disabled]="disabled"
              [invert]="invert"
              [max]="max"
              [min]="min2"
              [step]="step"
              [thumb-label]="thumbLabel"
              [tick-interval]="thickInterval"
              [vertical]="vertical"
              [(ngModel)]="homeValue"
              name="value2"
            >
            </mat-slider>
            <span class="min-range">$60,000</span>
            <span class="max-range">$1,000,000+</span>
          </div>

          <button (click)="savePropertyInfo()" class="btn btn-primary btn-continue">Continue</button>
          <p><a routerLink="/step3" class="prev-link">Previous</a></p>
        </div>
      </div>
    </div>
  </div>
