<div ng-controller="MorgageQuoteLoansContent" id="content" class="container form-container ng-scope">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div id="set6" class="form-set" style="">
        <div class="form-group">
          <label for="loan-term">What is your current loan term?</label>
          <button class="btn btn-primary btn-option" (click)="saveLoanTerm(5)" >5 Years</button>
          <button class="btn btn-primary btn-option" (click)="saveLoanTerm(7)" >7 Years</button>
          <button class="btn btn-primary btn-option" (click)="saveLoanTerm(10)">10 Years</button>
          <button class="btn btn-primary btn-option" (click)="saveLoanTerm(15)">15 Years</button>
          <button class="btn btn-primary btn-option" (click)="saveLoanTerm(20)">20 Years</button>
          <button class="btn btn-primary btn-option" (click)="saveLoanTerm(30)">30 Years</button>
        </div>
        <p><a routerLink="/step5" class="prev-link">Previous</a></p>
      </div>
    </div>
  </div>
</div>
