<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" style="width:50%">
          Step 2, you are almost done!
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="{'display-error':displayError, 'hide-display-error':!displayError} " class="alert alert-danger alert-dismissable">
    <strong>Error:</strong> {{errorMessag}}.
  </div>
  <div class="row">
    <div class="mortgage_information col-md-5 col-md-offset-1">
      <h2>Mortgage Information</h2>
      <div class="form-group" [ngClass]="{'has-error':!validateMortgageBalance}">
        <label for="mortgageBalance" class="control-label">Estimated Mortgage Balance:</label>
        <input type="text"
               class="mortgage_balance form-control"
               name="mortgageBalance"
               id="mortgageBalance"
               [(ngModel)]="mortgageBalance"
               currencyMask
               (blur)="calculateLtv()"
               min="0"
               max="9999999"
               maxlength="14"
        >
      </div>
      <div class="form-group" [ngClass]="{'has-error':!validateLoanTerm}">
        <label for="loanTerm" class="control-label">Loan Term:</label>
        <select name="loanTerm" id="loanTerm" class="form-control loan_term" [(ngModel)]="loanTerm">
          <option>5 years</option>
          <option>7 years</option>
          <option>10 years</option>
          <option>15 years</option>
          <option>20 years</option>
          <option>30 years</option>
        </select>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!validateInterestRate}">
        <label for="interestRate" class="control-label">Interest Rate:</label>
        <input type="text" class="form-control"
               name="interestRate"
               id="interestRate"
               id="interestRate"
               [(ngModel)]="interestRate"
               name="interestRate"
               placeholder="00.0"
               mask="99.9"
               [dropSpecialCharacters]="false">
      </div>
      <div class="form-group" [ngClass]="{'has-error':!validateTypeOfLoan}">
        <label for="typeOfLoan" class="control-label">Type of Loan:</label>
        <select name="typeOfLoan" id="typeOfLoan" class="form-control" [(ngModel)]="typeOfLoan">
          <option value="conventional" selected>Conventional</option>
          <option value="FHA">FHA</option>
          <option value="VA">VA</option>
        </select>
      </div>
    </div>
    <div class="col-md-5 property_info">
      <h2>Property Information</h2>
      <div class="form-group" [ngClass]="{'has-error':!validateHomeValue}">
        <label for="homeValue" class="control-label">Estimated Home Value:</label>
        <input
          type="text"
          class="form-control"
          id="homeValue"
          name="homeValue"
          currencyMask
          [(ngModel)]="homeValue"
          (blur)="calculateLtv()"
          min="0"
          max="9999999"
          maxlength="14"
        >
      </div>
      <div class="form-group" [ngClass]="{'has-error':!validateTypeOfProperty}">
        <label for="typeOfProperty" class="control-label">Type of Property:</label>
        <select name="typeOfProperty" id="typeOfProperty" class="form-control" [(ngModel)]="typeOfProperty">
          <option value="single family" selected>Single Family</option>
          <option value="multi family">Multi Family</option>
          <option value="investment">Investment</option>
          <option value="condo">Condo</option>
          <option value="apartment">Apartment</option>
          <option value="mobile">Mobile</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-md-12">What type of rate do you have?</label>
        <div class="btn-group">
          <button class="btn btn-default" [ngClass]="{'active':typeOfInterestRate === 'Fixed'}" (click)="saveTypeInterestRate('Fixed')">Fixed</button>
          <button class="btn btn-default" [ngClass]="{'active':typeOfInterestRate === 'Variable'}" (click)="saveTypeInterestRate('Variable')">Variable</button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12">What is your credit score?</label>
        <div class="btn-group">
          <button class="btn btn-default" (click)="saveCreditScore('Excellent')" [ngClass]="{'active':creditScore === 'Excellent'}">Excellent</button>
          <button class="btn btn-default" (click)="saveCreditScore('Good')" [ngClass]="{'active':creditScore === 'Good'}">Good</button>
          <button class="btn btn-default" (click)="saveCreditScore('Fair')" [ngClass]="{'active':creditScore === 'Fair'}">Fair</button>
          <button class="btn btn-default" (click)="saveCreditScore('Poor')" [ngClass]="{'active':creditScore === 'Poor'}">Poor</button>
        </div>
      </div>
    </div>
    <div class="text-center buttons">
      <div class="btn-group">
        <button class="btn btn-primary btn-lg" (click)="goback()">Go Back</button>
        <button class="btn btn-success btn-lg" (click)="savePropertyInfo()">Go To Step 2</button>
      </div>
    </div>
  </div>
</div>
