<div ng-controller="MorgageQuoteLoansContent" id="content" class="container form-container ng-scope">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div id="set5" class="form-set" style="">
        <div class="form-group">
          <label for="interestRate">What is your current interest rate?</label>
          <input
            type="text"
            class="form-control ng-pristine ng-untouched ng-valid ng-empty"
            id="interestRate"
            [(ngModel)]="interestRate"
            name="interestRate"
            placeholder="00.0"
            mask="99.9"
            [dropSpecialCharacters]="false"
          >
        </div>
        <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateInterestRate">
            <span class="error_validation">
              Interest Rate is Required
            </span>
        </div>
        <div class="form-group">
          <label>What type of rate do you have?</label>
          <input value="Fixed" class="btn btn-option btn-primary" (click)="saveInterestRate('fixed')">
          <input value="Variable" class="btn btn-option btn-primary" (click)="saveInterestRate('variable')">
        </div>
        <p><a routerLink="/step4" class="prev-link">Previous</a></p>
      </div>
    </div>
  </div>
</div>
