<div id="banner" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 id="main-header">Compare Mortgage Quotes in </h1>
        <p class="sub-title">Unlock &amp; Compare trusted lenders near you!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <p class="form-title">Enter Your Phone Number:</p>
        <form>
          <input id="Phone" name="phone" type="text" placeholder="(310)5555-5555" mask="(999) 999-9999" clean="true" [(ngModel)]="phone">
          <input id="leadid_token" name="universal_leadid" type="hidden" value="" ([ngModel])="leadid_token" #leadiid/>
          <button (click)="savePhone(leadiid.value)">Get a FREE Quote</button>
          <div class="col-xs-12 col-md-12 text-center" *ngIf="!validatePhone">
            <span class="error_validation">
              Phone is Required
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="content" class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>How to Save on your Mortgage</h2>
      <p>A major purchase can be menacing, so how do you know if you’re getting the best rate? Mortgage Online recommends starting by comparing lenders in reference to your individual needs and realistic price range.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <img src="./assets/ico-1.png" alt="Compare and Negotiate">
      <h3>Compare and Negotiate</h3>
      <p>There are countless and ever changing options in the mortgage lending market; rates can change daily. Look in your newspaper for a starting point, and then contact a loan officer. Brokers will frequently keep overages in the form of various fees. It is best to get the offer and its breakdown in writing. Negotiate with the lender and be alert to simultaneous lowering and raising of other fees, so it doesn’t seem they are giving a better deal when in reality they are not.  Remember, make no reservations when negotiating with multiple loan officers; under the <a href="https://www.justice.gov/crt/equal-credit-opportunity-act-3" target="_blank">Equal Credit Opportunity Act</a> and the <a href="https://www.justice.gov/crt/fair-housing-act-2" target="_blank">Fair Housing Act</a>, fair lending is your right by Law.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="./assets/ico-3.png" alt="Explain any Bad Credit">
      <h3>Explain any Bad Credit</h3>
      <p>Don’t let your past credit problems dictate your loan choices. If your circumstances that resulted in bad credit were out of your control, explain this event to the broker. Ask how you can still get the best rate, and again, negotiate. </p>
    </div>
    <div class="col-md-4 text-center">
      <img src="./assets/ico-2.png" alt="Lock in your Rate">
      <h3>Lock in your Rate</h3>
      <p>Once you have considered your realistic price range, compared loans, and negotiated with brokers, choose the loan that is right for you. With fees and costs, the lowest interest rate isn’t always the best deal. Once satisfied, lock in your rate as it could change quickly in an unstable market.</p>
    </div>
  </div>
</div>

