 <div id="content" class="container form-container ng-scope">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div id="set1" class="form-set">
          <div class="form-group">
            <label for="first_name" class="ng-binding">First Name </label>
            <input
              id="firstName"
              type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
              placeholder="John"
              [(ngModel)]="firstName"
              name="firstName"
            >
            <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateFirstName">
            <span class="error_validation">
              First Name is Required
            </span>
            </div>
          </div>
          <div class="form-group">
            <label for="first_name">Last Name</label>
            <input
              type="text"
              class="form-control ng-pristine ng-untouched ng-valid ng-empty"
              id="lastName"
              placeholder="Doe"
              name="lastName"
              [(ngModel)]="lastName"
            >
            <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateLastName">
            <span class="error_validation">
              Last Name is Required
            </span>
            </div>
          </div>
          <button class="btn btn-primary btn-continue" (click)="saveName()">Continue</button>
          <p><a class="prev-link" routerLink="/">Previous</a></p>
        </div>
      </div>
    </div>
  </div>
