<div id="content" class="container form-container ng-scope">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="row">
      <div id="set2" class="form-set" style="">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-email" id="email"
                 placeholder="john.doe@gmail.com" name="email" [(ngModel)]="email">
          <div class="col-xs-12 col-md-12 text-center" *ngIf="!validateEmail">
            <span class="error_validation">
              A valid Email is Required
            </span>
          </div>
          <button class="btn btn-primary btn-continue" (click)="saveEmail()">Continue</button>
          <p><a class="prev-link" routerLink="/step1">Previous</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
