@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.backholder{
  background-image:  url(/assets/debt-consol-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}
.cover-fold{
  height:80%;
  min-height:500px;
}
.form-box{
  background-color: rgba(0,0,0, 0.6);
  margin: 4em;
  padding-bottom: 4em;
  border-radius: 25px;
}
.cashout-title{
  font-size: 2.5vw;
  color: whitesmoke;
  padding-top: 1em;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

.cashout-sub-title{
  font-size: 2.5vw;
  color: whitesmoke;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 3vh;
}
.cashout-slogan{
  font-size: 1.5vw;
  color: whitesmoke;
  font-family: 'Archivo Black', sans-serif;
}
.closing-slogan{
  font-size: 1.5vw;
  color: whitesmoke;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}
.submit_button{
  font-family: 'Archivo Black', sans-serif;
}
.cash-out-exp{
  margin: 2em;
}
.cash-out-exp h2{
  font-weight: bold;
}

.big-form{
  font-size: 2em;
  border: 1px solid gray;
}

@media screen and (min-width: 320px) {
  .cashout-title{
    font-size: 5vw;
  }
  .cashout-sub-title {
    font-size: 4vw;
    margin-bottom: 2vh;
  }
  .cashout-slogan{
    font-size: 3vw;
    text-align: center;
  }
  .closing-slogan{
    font-size: 3vw;
  }
  .form-box{
    margin: 2em;
    margin-top: 4em;
    padding-bottom: 4em;
  }
  .cover-fold{
    height:80%;
    min-height: auto;
  }
}

@media screen and (min-width: 360px) {
  .cashout-title{
    font-size: 5vw;
  }
  .cashout-sub-title {
    font-size: 4vw;
    margin-bottom: 2vh;
  }
  .cashout-slogan{
    font-size: 3vw;
    text-align: center;
  }
  .closing-slogan{
    font-size: 3vw;
  }
  .form-box{
    margin: 2em;
    margin-top: 4em;
    padding-bottom: 4em;
  }
  .cover-fold{
    height:80%;
    min-height: auto;
  }
}

@media screen and (min-width: 375px) {
  .cashout-title{
    font-size: 4vw;
  }
  .cashout-sub-title {
    font-size: 4vw;
    margin-bottom: 2vh;
  }
  .cashout-slogan{
    font-size: 2.5vw;
    text-align: center;
  }
  .closing-slogan{
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 414px) {
  .cashout-title{
    font-size: 4vw;
  }
  .cashout-sub-title {
    font-size: 4vw;
    margin-bottom: 2vh;
  }
  .cashout-slogan{
    font-size: 3vw;
    text-align: center;
  }
  .closing-slogan{
    font-size: 2.8vw;
  }
}

@media screen and (min-width: 600px) {
  .cashout-title{
    font-size: 4vw;
  }
  .cashout-sub-title {
    font-size: 4vw;
    margin-bottom: 2vh;
  }
  .cashout-slogan{
    font-size: 3vw;
    text-align: center;
  }
  .closing-slogan{
    font-size: 3vw;
  }
  .form-box{
    margin: 2em;
    margin-top: 3em;
    padding-bottom: 4em;
  }
}

@media only screen and (min-width: 768px) {
  .cashout-title{
    font-size: 3vw;
  }
  .cashout-sub-title {
    font-size: 3vw;
    margin-bottom: 1.5vh;
  }
  .cashout-slogan{
    font-size: 2vw;
    text-align: center;
  }
  .closing-slogan{
    font-size: 2vw;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .cashout-title{
    font-size: 3vw;
  }
  .cashout-sub-title {
    font-size: 3vw;
    margin-bottom: 1.5vh;
  }
  .cashout-slogan{
    font-size: 1.9vw;
    text-align: left;
  }
  .closing-slogan{
    font-size: 1.6vw;
    text-align: left;
  }
}


