<div id="content" class="container">
  <p><strong>Information Collection and Use</strong></p>
  <p>We will collect and use personal information about you to respond to your request for products and services offered through this website. We will also collect information in order to notify you about products, services, and other opportunities we think will be of interest to you. The information we collect may be from the following sources:</p>
  <ul>
    <li>Information provided by you in connection with obtaining quotes for home purchase loans, home refinance loans, or home equity loans. For example, you will be asked to provide your full name, address, telephone number, Social Security Number, and other financial information depending upon your request.</li>
    <li>Information provided by you in connection with obtaining a credit card. For example, you may be asked to submit your full name and home address. In some cases, you may also be asked to submit additional personal information once you are linked to the credit card issuer's website.</li>
    <li>Information provided by you in connection with obtaining quotes for other products or services such as long distance service, internet access, and insurance.</li>
    <li>Information provided by you in connection with obtaining a certain product or service offered by one our business partners.</li>
    <li>Information you provide us when you register to receive communications from us (such as your email address).</li>
    <li>Information you provide us when you enter promotions or sweepstakes offered by MortgageQuoteCapital.com (such as your full name, physical address and email address).</li>
    <li>Information you provide us through telephone and web based surveys, customer service correspondence, and general feedback.</li>
    <li>Information you provide us when you apply for a job with MortgageQuoteCapital.com.</li>
  </ul>
  <p>We also collect demographic information. Demographic information is all other information such as gender, zip code, or any information that is not tied to your personal information. In addition, we might receive information about you from other online or offline sources and may add that information to your existing account.</p>
  <p>&nbsp;</p>
  <p><strong>Information Sharing and Disclosure</strong></p>
  <p>We share your personal information with other companies so that they can market their products or services to you. If you do not want us to share your personal information with these companies, contact us at <a href="mailto:CustomerCare@LowerMyBills.com">CustomerCare@MortgageQuoteCapital.com</a>.</p>
  <p>&nbsp;</p>
  <p>We share personal information about you under the following circumstances:</p>
  <p><strong>Loan Products or Service Requests -</strong> If you submit a request for quotes for a loan product or service offered through this website, we will share the personal information contained in your request form (such as your full name, address, telephone number, property location, self-assessed value) with third parties, which include banks, mortgage lenders and brokers, and lead aggregators (collectively, "Lender" or "Lenders") in our client network to process and fulfill your request. In some circumstances, we may obtain additional information about you and/or share that information with Lenders in our network.</p>
  <p>MortgageQuoteCapital.com, and are required to comply with federal and state privacy regulations. By submitting your request to MortgageQuoteCapital.com, you understand that Lenders may contact you by telephone (on a recorded line), automated calling, email, or regular mail based on the information you provided to us in order to process and fulfill your request, even if you have opted into the National Do Not Call List administered by the Federal Trade Commission, any state equivalent Do Not Call List, or the Do Not Call List of an internal company. If one of the Lenders contacts you and you wish not to be contacted again by that Lender with respect to your inquiry, then you should specifically make a request to that Lender not to contact you again. Please note that the Lenders may maintain the information you provided whether you elect to use their services.</p>
  <p>&nbsp;</p>
  <p><strong>Other Products or Service Requests -</strong> If you submit a request for a product or service other than a loan such as Internet access, insurance or long distance service, you will be asked to provide your personal information (such as your full name, address, telephone number and email address). The personal information you submit is either: collected by MortgageQuoteCapital.com and shared with the particular business partner operating the service or providing the product you requested or is provided directly to the business partner. Where the service is operated by one of our business partners, the collection, use and disclosure of your personal information will be subject to that business partners' privacy pledge. Our business partners may contact you by telephone, email, or regular mail based on the information you provided to us, even if you have opted into the National Do Not Call List administered by the Federal Trade Commission, any state equivalent Do Not Call List, or the Do Not Call List of an internal company. If one of our partners contacts you by telephone and you wish not to be contacted again by that business partner with respect to your inquiry, then you should specifically make a request to that partner not to contact you again.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Vendors - </strong>We sometimes disclose the information we collect to companies that operate various services for us such as marketing distribution, advertising, processing resumes, or certain product functionalities. These vendors only have access to personal information needed to perform their functions, and may not share it with others or use it for any other purpose.</p>
  <p>&nbsp;</p>
  <p><strong>&nbsp;</strong><strong>Job Postings</strong> - We allow for the online submission of resumes and employment related information. Please note that the information (including personal information) collected through the online job application process on the Career section of our website is not subject to this Privacy Pledge. However, we want to assure you that information obtained from our job site will be used solely for the purpose of accepting and evaluating your submission for possible employment and the related purposes described on our Career page.</p>
  <p>&nbsp;</p>
  <p><strong>&nbsp;</strong>&nbsp;<strong>Subsidiaries, Parent or Sister Companies</strong> - We may share personal and demographic information about you with our subsidiaries, parent company, or sister companies to give you more options to your customer requests and provide you better service. For example, we may share your information with ClassesUSA.com or PriceGrabber.com. If you do not want your information shared in this manner, please email us at <a href="mailto:CustomerCare@LowerMyBills.com">CustomerCare@MortgageQuoteCapital.com</a></p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Aggregate, Non-Personal, or De-identified Information.</strong> We may share aggregated information (i.e., information about you and other customers collectively, but not specifically identifiable to you) and other non-personal, de-identified, or anonymous information we collect with third parties, including affiliates to develop and deliver targeted advertising on our Site and on the websites of third parties. If you would prefer that we do not utilize cookies with your website experience, or would prefer to restrict the use of cookies with network advertising partners, please see the "Offering You Choices" section below.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>As Permitted by Law </strong>- We may be required to share your personal information with law enforcement or government agencies in response to subpoenas, court orders, federal/state audits or similar legal process. We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of MortgageQuoteCapital.com'sor as otherwise required by law.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Business Transfer</strong> - As with any other business, it is possible that MortgageQuoteCapital.com, Inc. in the future could merge with or be acquired by another company. If such an acquisition occurs, the successor company would have access to the information maintained by MortgageQuoteCapital.com, including your personal information, customer and business account information, but would continue to be bound by this pledge unless you consent otherwise. You will be notified via email and/or a prominent notice on our Web site of any change in ownership or material changes to the uses of your personal information, as well as any changes to choices you may have regarding your personal information.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>How We Respond to “Do Not Track” Signals </strong>- Some web browsers provide a "Do Not Track" feature that sends a signal to websites you visit that you do not want to have your online activity tracked. We do not respond to Web Browser “Do Not Track” signals at this time.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Advertisements and Third Party Ad Servers</strong></p>
  <p>We partner with a third party to either display advertising on our Web site or to manage our advertising on other sites. For instance, when visiting a third party website, you may receive a banner advertisement, a "pop up" window advertising MortgageQuoteCapital.com, or a displayed a text link on the third party site. Please note that such advertisements are served by the third party website that you have visited and are not controlled by MortgageQuoteCapital.com. In addition, such advertisements may be placed by third party ad servers or ad networks such as DoubleClick. Our third party partner may use technologies such as cookies and action tags to gather information about your activities on this site and other sites in order to provide you advertising based upon your browsing activities and interests. Please note this does not opt you out of being served ads. You will continue to receive generic ads.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Tracking Technologies</strong></p>
  <p>Technologies such as: cookies, beacons, tags and scripts are used by MortgageQuoteCapital.com Inc. and our marketing partners, display advertising network partners, affiliates, and other campaign performance tracking and analytics service providers. These technologies are used in analyzing trends, administering the site, tracking users' movements around the site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual as well as aggregated basis.</p>
  <p>We generally use cookies to reduce the time it takes for pages to load on your computer, to assist with customer tracking, to store the traffic source or marketing campaign that explains how you reached our site and to deliver targeted advertising on our website, websites owned by our sister companies, or websites of third parties. Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some features or areas of our site may be limited.</p>
  <p>&nbsp;As is true of most web sites, we gather certain information automatically and store it in log files. The information we track may include such information as browser type, Internet service provider (ISP), referring/exit pages, platform type, date/time stamp, IP address and number of clicks. We may combine information that we obtain through the use of cookies with Personal Information, other aggregate or anonymous data, including a unique ID We may assign you.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Offering You Choices</strong></p>
  <p><strong>&nbsp;</strong><strong>Marketing Email Options</strong> - You may register to receive communications from us directly on our website or through a third party. Upon registering, we will periodically send you e-mails with offers and promotions. If you no longer wish to receive these communications, please let us know by sending an email to <a href="mailto:CustomerCare@LowerMyBills.com">CustomerCare@MortgageQuoteCapital.com</a> (You may also opt-out by clicking on the unsubscribe link in our emails).</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Third Party Advertisers</strong> - Please note that MortgageQuoteCapital.com can only control its own mailing list and policies. Third party advertisers that maintain their own mailing lists may send communications that advertise our services, and you may need to contact these parties directly in order to stop receiving their email communications.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Confidentiality and Security</strong></p>
  <p>The security of your personal information is very important at MortgageQuoteCapital.com and we take a number of steps to safeguard it. For example, we limit access to personal information to those employees or agents who assist us in providing requested products and services to you and maintain physical, electronic, and procedural safeguards that comply with federal standards to guard personal information about you.</p>
  <p>When you enter sensitive information (such as a Social Security number) on our order forms, we encrypt the transmission of that information using secure socket layer technology (SSL).</p>
  <p>&nbsp;We follow generally accepted standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our Web site, you can contact us at <a href="mailto:CustomerCare@LowerMyBills.com">CustomerCare@MortgageQuoteCapital.com</a>.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Surveys</strong></p>
  <p>We may provide you the opportunity to participate in surveys on our site. If you participate, we will request certain personal information from you. Participation in these surveys is completely voluntary and you therefore have a choice whether or not to disclose this information. The requested information typically includes contact information (such as name and shipping address), and demographic information (such as zip code). We use this information for market research purposes and to improve our services. We will occasionally provide anonymized aggregated statistics about our users in reports to third parties. These reports will not identify individual users.</p>
  <p>We may use a third party service provider to conduct these surveys; that company will be prohibited from using our users’ personal information for any other purpose.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Third Party Links</strong></p>
  <p>This Privacy Pledge applies to all information that you provide to MortgageQuoteCapital.com. However, when you visit websites to which MortgageQuoteCapital.com links, keep in mind you will be interacting with a third party that operates under its own privacy and security policy. If you choose to obtain certain services through a third party site, the data collected by the third party is governed by that third party′s privacy pledge. A third party site will also have its own policy regarding the use of cookies and clear gifs. We encourage you to review the privacy pledges of any other service provider from whom you request services.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Social Media Features</strong></p>
  <p>Our Web site includes Social Media Features, such as the Facebook Like button. This Feature may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the Feature to function properly. Social Media Features and Widgets are either hosted by a third party or hosted directly on our Site. Your interactions with these Features are governed by the privacy pledge of the company providing it.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Framing</strong></p>
  <p>In some cases, we may use third parties to operate portions of the MortgageQuoteCapital.com website. Although the particular section of the website may have a similar appearance as the MortgageQuoteCapital.com site, information submitted through these outside third parties are subject to that company′s privacy pledge unless otherwise stated. For example, personal information submitted through our Affiliate Program is subject to the Commission Junction privacy pledge.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>A Special Note about Children's Privacy</strong></p>
  <p>You must be at least 18 years old to use this website. We do not knowingly collect, use or disclose personal information about visitors under 18 years of age. If you are under 18 years of age, you can use the services offered on our website only in conjunction with your parents or guardians. Please see our Terms of Use for more information.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Changes to this Privacy Pledge</strong></p>
  <p>MortgageQuoteCapital.com may update or modify this Privacy Pledge from time to time. If there are material changes to this Privacy Pledge or in how MortgageQuoteCapital.com will use your personal information, we will post such changes here. You will be notified by email if any of the material changes that affect the use of your personal information before it takes effect and asked to opt-in to the new use of your personal information. If you do not agree with the changes to how your information will be used, please do not continue to use this website.</p>
  <p>By using this site, you signify your assent to the MortgageQuoteCapital.com Privacy Pledge. If you do not agree to this pledge, please do not use any of the MortgageQuoteCapital.com site. When you request rate quotes or other information through MortgageQuoteCapital.com, you are authorizing us to share information with our business partners, who will contact you by phone, email, or mail. If you do not want further communication from them, please notify the partner directly. We reserve the right to make changes in this pledge at any time. Please check the pledge each time you use our website to ensure you are aware of any changes in our privacy practices.</p>
  <p>&nbsp;Our Privacy Pledge will indicate the date it was last updated. Your continued use of our site will signify your acceptance of the changes to our Privacy Pledge.</p>
</div>
