<div ng-controller="MorgageQuoteLoansContent" id="content" class="container form-container ng-scope">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div id="set8" class="form-set" style="">
        <div class="form-group range-group" style="">
          <label for="cash_out">Are you looking to cash out?</label>
          <div class="moneyDebt">{{cashOut | currency:'USD'}}</div>
          <mat-slider
            class="example-margin"
            [disabled]="disabled"
            [invert]="invert"
            [max]="max"
            [min]="min"
            [step]="step"
            [thumb-label]="thumbLabel"
            [tick-interval]="thickInterval"
            [vertical]="vertical"
            [(ngModel)]="cashOut"
            name="value"
          >
          </mat-slider>
          <span class="min-range">$0</span>
          <span class="max-range">$200,000</span>
        </div>
        <button (click)="saveCashOut()" class="btn btn-primary btn-continue">Continue</button>
        <p><a routerLink="/step7" class="prev-link">Previous</a></p>
      </div>
    </div>
  </div>
</div>
