/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {font-family: 'Lato', sans-serif; background-color: black}
html {font-family: 'Lato', sans-serif; background-color: black}
#top-bar {border-top:10px solid #0086c5;}
header {margin:20px 0;}
header p {font-size:24px; font-style: italic; color:#0086c5; margin-top:.75em;}

#banner {background:url('./assets/header-banner.jpg') center no-repeat; border-top:1px solid #ccc; min-height: 350px;}
#banner h1 {font-size:30px; color:#000; font-weight:bold; margin:50px 0 10px;}
#banner p.sub-title {font-size:16px; color: #000; margin-bottom:30px;}
#banner p.form-title {font-size:20px; color: #fff; background: #0086c5; font-weight:bold; border:1px solid #0086c5; border-top-left-radius: 10px; border-top-right-radius: 10px; margin-bottom:0;}
#banner form {background:#fff; width:100%; display:block; padding-top:30px; padding-bottom:30px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
#banner form input {border:1px solid #333; width: 250px; padding:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:18px; margin-left:5px; margin-right:5px;}
#banner button {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:18px; padding:11px 20px; border:0; color:#fff; margin-left:5px; margin-right:5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05c100+0,037e00+100 */
  background: rgb(5,193,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(5,193,0,1) 0%, rgba(3,126,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(5,193,0,1) 0%,rgba(3,126,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(5,193,0,1) 0%,rgba(3,126,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05c100', endColorstr='#037e00',GradientType=0 ); /* IE6-9 */
}

#content h2 {font-size:30px; font-weight: bold; text-align: center; margin-bottom:1em;}
#content h3 {font-size:24px; font-weight: bold; text-align: center;}
#content p {margin-bottom:2em;}

#counter {background:#0086c5; padding:40px 0;}
#counter p {font-size:24px; color:#fff; margin-top:15px;}
#counter p span {text-transform: uppercase;}
/*#counter .container {background:url('../img/counter-bg.png') 95% 10% no-repeat #005f8c; background-size:160px; padding-top: 0; padding-bottom: 0;}*/

.form-container {border: 1px solid #ccc; padding-top:30px; padding-bottom:30px; margin-top:30px;}
.form-container .form-set p {text-align: center;}
.form-container label {font-size: 18px; width:100%; text-align: center;}
.form-container input[type=text],
.form-container input[type=email] {text-align: center; font-size: 20px; margin-bottom: 20px; }
.form-container .btn-continue,
.form-container .btn-option {width:100%;  padding:15px 20px; font-size:16px; margin-bottom:10px; color:#fff;}
.form-container .btn-continue:hover,
.form-container .btn-continue:hover,
.form-container .btn-option:active,
.form-container .btn-option:active {border:1px solid #0070a5; background: #0070a5; color: #fff;}
.form-container .btn-continue {margin-top:20px;}
.form-container .rangeSlider__fill {background: #0086c5;}
.form-container output {font-size:30px; text-align:center; color: #0086c5; margin-bottom: 10px;}
.form-container .min-range {float: left;}
.form-container .max-range {float: right;}

footer {background:#000; padding:20px 0 30px; margin-top: 2em;}
footer p {color:#fff;}
footer ul li {display:inline-block; padding-right:10px; margin-left:10px;}
footer ul li:nth-child(1) {}
footer ul li a {color:#fff;}

@media screen and (max-width: 768px) {
  #counter {background:#005f8c; text-align: center;}
}

@media screen and (max-width: 640px) {
  #banner h1 {margin:20px 0 10px; font-size:22px;}
  #banner button {margin-top:10px;}
  footer p {text-align: center;}
  footer ul {text-align: center;}
  footer li {margin:0 5px; padding:0 5px;}
}

.mat-slider-horizontal {
  width: 100%;
}

.error_validation{
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}





