<div class="container form-container ng-scope">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="form-set" >
        <div class="form-group">
          <label for="loan-type">What type of loan would you like?</label>
          <button class="btn btn-primary btn-option" (click)="saveLoanType('Conventional')">Conventional</button>
          <button class="btn btn-primary btn-option" (click)="saveLoanType('VA')">VA</button>
          <button class="btn btn-primary btn-option" (click)="saveLoanType('FHA')">FHA</button>
        </div>
        <p><a routerLink="/step8" class="prev-link">Previous</a></p>
      </div>
    </div>
  </div>
</div>
